/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lexend Mega", sans-serif;
  font-size: 16px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.h2-styling {
  font-size: 2rem;
  margin: 15px 0 20px 0;
}

.p-styling {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px auto;
  width: 85%;
}

/* Header */
header {
  text-align: center;
  margin: 25px auto;
  width: 70%;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 25px;
}

header .nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: 1.2rem;
}

header .nav-links li a {
  color: black;
}

/* Mission */
.mission {
  height: 300px;
  background-image: url("./images/skyscrapers.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.statement {
  background-color: white;
  width: 100%;
}

/* Portfolio */
#portfolio {
  flex-direction: column;
  margin-top: 50px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 20px;
  justify-content: center;
}

.gallery img {
  width: auto;
  height: 200px;
  margin: 15px 25px 0 0;
  object-fit: cover;
  border-radius: 8px;
}

/* Team */

/* Team Section */
#our-team {
  flex-direction: column;
}

.team-container {
  background-image: url("./images/blurred-road.webp");
  background-repeat: no-repeat;
  width: 100%;
}

.team-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Use gap instead of margin for spacing */
  margin: 15px auto;
  width: 75%;
}

.team-gallery article {
  width: calc(33.333% - 20px); /* Adjust for spacing */
  min-width: 200px; /* Set a minimum width for smaller screens */
}

.team-gallery-img img {
  height: 300px;
  width: auto;
}

.team-gallery-img figcaption {
  margin: 10px auto;
  color: seashell;
  font-size: 1.2rem;
}

.team-gallery-img figcaption p {
  margin: 15px 0;
}

/* Footer */
footer {
  text-align: center;
}

footer .email {
  font-weight: bold;
  margin: 25px;
}

.copyright {
  margin: 50px 0 25px 0;
}
